<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WeatherApp</title>
</head>

<body>
  <form class='form' action='/' method='post'>
    <select type='text' name='city' id="city">
      <option value="Budapest" <%= sendData.city === "Budapest" ?' selected':' ' %>>Budapest</option>
      <option value="Győr" <%= sendData.city === "Győr" ?' selected':' ' %>>Győr</option>
      <option value="Debrecen" <%= sendData.city === "Debrecen" ?' selected':' ' %>>Debrecen</option>
      <option value="Miskolc" <%= sendData.city === "Miskolc" ?' selected':' ' %>>Miskolc</option>
      <option value="Pécs" <%= sendData.city === "Pécs" ?' selected':' ' %>>Pécs</option>
      <option value="Sopron" <%= sendData.city === "Sopron" ?' selected':' ' %>>Sopron</option>
      <option value="Szeged" <%= sendData.city === "Szeged" ?' selected':' ' %>>Szeged</option>
      <option value="Gyékényes" <%= sendData.city === "Gyékényes" ?' selected':' ' %>>Gyékényes</option>
    </select>
    <button id=' submit-button' type='submit'>Search</button>
  </form>
  <div class='results'>
    <h1>
      <%= sendData.city %>
    </h1>
    <h3>Coordinates:</h3>lon: <%= sendData.longitude%><br>lat: <%= sendData.latitude%>
        <h3>Temperature:</h3>
        <%= sendData.temp %> Celsius
          <h3>Air pressure:</h3>
          <%= sendData.pressure %> mbar
            <h3>Humidity:</h3>
            <%= sendData.humidity %> %
              <h3>Wind:</h3>
              <%= sendData.windpower %> km/h
                <h3>Cloud:</h3>
                <img src=<%= sendData.cloud %>>
                <h3>Time:</h3>
                <%= sendData.date %>
  </div>
</body>

</html>